#orderForm-wrapper .form-title {
  text-align: center; }

#orderForm-wrapper .time-input-container {
  margin-right: 24px; }

#orderForm-wrapper .time-icon {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px; }

