.orderHistory-wrapper md-card {
  margin-top: 5%; }

.orderHistory-wrapper .table-title {
  text-align: center; }

.orderHistory-wrapper table {
  border-collapse: collapse;
  table-layout: auto; }
  .orderHistory-wrapper table th,
  .orderHistory-wrapper table td {
    padding: 15px 30px;
    border-bottom: 1px solid #f1f1f1; }
  .orderHistory-wrapper table tr:hover {
    background: #f1f1f1; }

