#orderHistory-wrapper {
    .table-title {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        table-layout: auto;

        th,
        td {
            padding: 15px 30px;
            border-bottom: 1px solid #f1f1f1;
        }
        tr:hover {
            background: #f1f1f1;
        }
    }
}