@{
    ViewBag.Title = "Order history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="orderHistory-wrapper" ng-controller="OrdersController">
    <md-card layout-padding>
        <md-card-title class="table-title">
            <md-card-title-text>
                <h3 class="md-headline">Order history</h3>
            </md-card-title-text>
        </md-card-title>

        <table>
            <tr align="right">
                <th>Id</th>
                <th align="left">First name</th>
                <th align="left">Last name</th>
                <th>Phone number</th>
                <th align="left">Pizza type</th>
                <th>Pizza price</th>
                <th>Quantity</th>
                <th align="left">Delivery date</th>
                <th>Total cost</th>
            </tr>
            <tbody ng-repeat="order in orders">
                <tr align="right">
                    <td ng-bind="order.CustomerOrderId"></td>
                    <td ng-bind="order.FirstName" align="left"></td>
                    <td ng-bind="order.LastName" align="left"></td>
                    <td ng-bind="order.PhoneNumber"></td>
                    <td ng-bind="order.Pizza.Type" align="left"></td>
                    <td ng-bind="order.Pizza.Price"></td>
                    <td ng-bind="order.Quantity"></td>
                    <td ng-bind="order.DeliveryDate" align="left"></td>
                    <td ng-bind="order.TotalCost"></td>
                </tr>
            </tbody>
        </table>
    </md-card>
</div>