@model Pizza_App.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Order now!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order "The One" here!</h2>

<md-content layout-padding>
    <div id="order-form-wrapper" ng-controller="FormController">
        <md-card>
            <form name="order-form" ng-submit="submitOrder()">
                <div layout="column">
                    <md-input-container>
                        <label>First name</label>
                        <input ng-model="order.FirstName" />
                    </md-input-container>

                    <md-input-container>
                        <label>Last name</label>
                        <input ng-model="order.LastName" />
                    </md-input-container>

                    <md-input-container>
                        <label>Phone number</label>
                        <input ng-model="order.PhoneNumber" />
                    </md-input-container>

                    <md-input-container>
                        <label>Pizza</label>
                        <md-select ng-model="pizza">
                            <md-option ng-repeat="pizza in pizzas" ng-value="pizza">{{ pizza.Type }}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label>Quantity</label>
                        <input ng-model="order.Quantity" />
                    </md-input-container>

                    <md-input-container>
                        <label>Delivery date</label>
                        <md-datepicker name="deliveryDate" md-min-date="FormController.minDate" ng-model="order.DeliveryDate"></md-datepicker>
                    </md-input-container>

                    <label for="field-total-cost">Total cost:</label>
                    <span id="field-total-cost">${{ (order.TotalCost.toFixed(2)) }}</span>

                    <md-button class="md-raised md-primary" type="submit">Submit order</md-button>
                </div>
            </form>
        </md-card>
    </div>
</md-content>